RewriteEngine On

# Si el archivo o directorio existe, ignora las siguientes reglas
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Enrutar todas las solicitudes a index.php
RewriteRule ^(.*)$ index.php [QSA,L]
