* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header y footer ini */
.main-header {
  background-color: white;
}
.bg-verde {
  background-color: #c8d434 !important;
  font-size: 16px;
}
.navbar-general a {
  color: black;
  margin-right: 20px;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 14px;
}

.navbar-general a:hover {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  background-color: black;
  border-radius: 30px;
}
.navbar-uts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin-bottom: 5px;
}

.btn-academic {
  background-color: #c8d434 !important;
  padding: 15px 28px;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.logo {
  width: 140px;
  height: auto;
}
/* header yfooter fin */
/* HERO */
.hero {
  background-color: black;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(1, 22, 19) !important;
}
.modalito {
  font-size: 2.5rem;
}
h1,
h2,
h3 {
  text-align: center;
  color: white;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.heading {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.estudiantes {
  font-size: 3rem;
  margin-bottom: 3rem;
}

th {
  font-size: 2rem;
  text-align: center !important;
}

tbody {
  font-size: 2rem;
  text-align: center !important;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.card-title {
  color: black;
}
a {
  font-size: 20px !important;
}

.search {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.cuerpo {
  font-size: 40px !important;
}

.pie {
  font-size: 20px;
}

.tamano {
  font-size: 18px !important;
  margin-top: 20px;
}

.formTam{
  font-size: 20px !important;
}
